@import "./stylesheets/_reset.scss";
@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans:200,400,600");
@import url("https://fonts.googleapis.com/css?family=Rock+Salt");

* {
  font-family: "IBM Plex Sans", "Helvetica Neue", Arial, sans-serif;
}

.container {
  height: 500px;
  background-color: white;
}

.container-one {
  height: 100px;
  background-color: purple;
}
.container-two {
  height: 100px;
  background-color: pink;
}
.container-three {
  height: 100px;
  background-color: orangered;
}
.container-four {
  height: 100px;
  background-color: yellow;
}
.container-five {
  height: 100px;
  background-color: lightcoral;
}

.footer {
  background-color: silver;
  height: 40vh;
}
