@import "./stylesheets/_reset.scss";
@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans:200,400,600");
@import url("https://fonts.googleapis.com/css?family=Rock+Salt");
* {
    font-family: "IBM Plex Sans", "Helvetica Neue", Arial, sans-serif;
}

body {
    margin: 2rem;
}

.landing {
    height: 100vh;
    background: linear-gradient(103deg, #c7611c, #d9a669);
}

.footer {
    background: linear-gradient(to right bottom, #22201f, #161313);
    height: 30vh;
    text-decoration: none;
    padding: 10px;
    color: white;

    &_list {
        display: flex;
        flex-direction: row;
        justify-content: center;
        list-style: none;

        a {
            text-decoration: none;
            padding: 15px;
            color: inherit;

            &:hover {
                opacity: 0.7;
            }
        }
    }
}

.Icons {
    display: flex;
    flex-direction: row;
    justify-content: center;

    img {
        height: 30px;
        width: 30px;
        padding: 8px;

        &:hover{
            opacity: 0.7;
        }
    }
}

.copyright {
    text-align: center;
    margin: 20px;
    margin-left: 70px;
    // word-spacing: 5px;
}